body {
  font-family: 'TH Sarabun New', sans-serif;
  text-align: center;
  background-color: #f8f0e3;
}
#certificateArea {
  margin: 20px auto;
}
#certificate {
  width: 800px;
  padding: 40px;
  margin: 30px auto;
  background-color: #fefaf3;
  border: 10px double #b30000;background-image: url("https://jaroenta1616.github.io/Cert/khop.png");
  background-repeat: repeat;
  background-size: 300px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  position: relative;
  font-family: 'Sarabun', sans-serif;
}
}
.border {
  padding: 20px;
  border: 6px solid #c0392b; no
  background: #fff8f2;
}
.logo {
  width: 120px;
  margin-top: 10px;
}
h1 {
  font-size: 48px;
  color: #b22222;
  margin-bottom: 0;
}
h2 {
  font-size: 24px;
  color: #8b0000;
  margin-top: 5px;
}
.content {
  font-size: 28px;
  margin-top: 30px;
  line-height: 1.8;
  color: #222;
}
#nameArea {
  font-size: 36px;
  color: #b22222;
  font-weight: bold;
}
.footer {
  margin-top: 40px;
  font-size: 22px;
  color: #333;
}
input, button {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
}
