@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

body {
  font-family: 'Sarabun', sans-serif;
  text-align: center;
  background-color: #fdf6f0;
  padding: 20px;
}

#certificate {
  width: 1000px;
  height: 700px;
  margin: 0 auto;
  padding-top: 80px; /* เพิ่มช่องว่างด้านบนให้ทั้งหมดขยับลง */
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background-color: transparent;
  background-image: url("khop1.png"); /* ภาพขอบลายจีน */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* โลโก้ */
.logo {
  margin-top: 20px;  /* ยิ่งตัวเลขมาก โลโก้ยิ่งเลื่อนลง */
  margin-bottom: 30px;
  width: 200px;
}

/* หัวข้อ */
h1 {
  color: #b30000;
  font-size: 36px;
  margin-bottom: 10px;
  margin-top: 10px;
}

h2 {
  color: #800000;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* เนื้อหากลาง */
.content {
  font-size: 20px;
  color: #333;
  margin-top: 30px;
  line-height: 1.8;
}

/* ชื่อผู้รับ */
#nameArea {
  font-weight: bold;
  color: #cc0000;
  font-size: 26px;
  margin: 30px 0; /* เพิ่มช่องว่างระหว่างข้อความกับชื่อ */
  display: inline-block;
}

/* ท้ายใบ */
.footer {
  margin-top: 40px;
  font-size: 18px;
  color: #555;
}
